.main-curso{
margin-block: 2%;
margin-inline: 20%;
padding-inline: 5%;
padding-block: 1%;
}

.titulo-curso{
    text-align: center;
    background-color: rgb(143, 160, 255);
    border-radius: 8px;
}

.Boton_diploma{
    margin-block: 2%;
    padding: 1%;
    background-color: rgb(230, 243, 255);
    border-radius: 8px;
    text-align: center;
}

.Div-Progreso{
    margin-block: 2%;
    padding: 1%;
    background-color: rgb(122, 122, 122);
    border-radius: 8px;
    text-align: center;
}

.curso{
    margin-block: 2%;
    padding: 2%;
    background-color: rgb(230, 243, 255);
    border-radius: 8px;
    text-align: center;
}

.nivel-curso{
    margin-block: 2%;
    padding: 2%;
    background-color: rgb(230, 243, 255);
    border-radius: 8px;
    text-align: center;
}

.video-curso{
    background-color: rgba(177, 177, 177, 0.692);
    padding: 1%;
    border-radius: 8px;
}

.imagen-curso {
    max-width: 30%; /* Ajusta el ancho máximo al 50% del contenedor */
    height: auto;   /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Opcional: da bordes redondeados */
    display: block; /* Centra la imagen si se combina con margin */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.recursos-curso{
    background-color: rgba(177, 177, 177, 0.692);
    padding: 1%;
    border-radius: 8px;
}

.btn_enviar{
    padding: 1rem;
    background-color: #7c6dfd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn_enviar:hover{
    background-color: #3f00b3;
}

#pdf{
    padding: 1rem;
    background-color: #233749;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

video{
    width: 100%;
    border-radius: 8px;
}