/* Variables de color */
:root {
    --color-principal: #7e5ca0;
    --color-secundario: #48355c;
    --color-fondo: #f9f9f9;
    --color-texto: #2E3B4D;
    --color-boton: #E3CC03;
    --color-boton-hover: #A47E1B;
    --color-blanco: #ffffff;
    --color-negro: #000000; /* Añadir color negro */
}

.editar {
    background: #bebebe;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

/* Sección de gestión admin */
.seccion-admin {
    width: 80%;
    min-height: 800px;
    margin: 2rem auto;
    text-align: center;
    background: var(--color-principal);
    border-radius: 10px;
    padding: 2rem;
}

h1, h2 {
    text-align: center;
    color: var(--color-blanco); /* Mantener h1 y h2 en color blanco */
}

h1 {
    margin-bottom: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
}



/* Filtros */
form.filtros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

form.filtros label {
    margin: 0.5em;
    font-size: 1em;
    color: var(--color-blanco); /* Mantener labels en color blanco */
}

form.filtros select, form.filtros input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    font-size: 1em;
    color: var(--color-negro); /* Texto en negro para inputs y select */
}

/* Opciones del select */
form.filtros select option {
    color: var(--color-negro); /* Asegura que las opciones del select tengan texto en negro */
}

/* Botones */
.btn-submit {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-boton);
    color: var(--color-negro); /* Texto en negro para los botones */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--color-boton-hover);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem auto;
    background: var(--color-secundario);
}

table th, table td {
    border: 1px solid #dddddd;
    padding: 1rem;
    text-align: center;
}

table th {
    background-color: var(--color-texto);
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Formularios generales */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-blanco); /* Mantener labels en blanco */
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    color: var(--color-negro); /* Texto en negro para inputs */
}

.form-group input:focus {
    border-color: var(--color-principal);
    outline: none;
    box-shadow: 0 0 0 3px rgba(192, 3, 226, 0.2);
}