#titulo {
    color: white;
    background-color: rgba(82, 180, 245, 0.742);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-inline: 5%;
    margin-top: 2%;
    text-align: center;
}

/*Seccion de curso*/
.seccion-curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.742);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.seccion-curso img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.titulo-curso {
    text-align: center;
    margin-bottom: 20px;
}

.progreso-curso {
    text-align: center;
    margin-bottom: 20px;
}

.progreso-curso progress {
    width: 200px;
    /* Ancho deseado */
    height: 20px;
    /* Altura deseada */
    border: 2px solid #ffffff00;
    /* Borde */
    border-radius: 10px;
    /* Bordes redondeados */
}

.progreso-curso progress::-webkit-progress-value {
    background-color: rgb(107, 248, 26);
}

.boton-div {
    text-align: center;
}

.boton-div a {
    display: inline-block;
    background-color: #7f00b6;
    color: rgba(255, 255, 255, 0.748);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton-div a:hover {
    background-color: #3f00b3;
}

/* Diseño del botón "Entrar" */
.boton {
    display: inline-block;
    background-color: #7f00b6;
    color: rgba(255, 255, 255, 0.748);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
    background-color: #3f00b3;
    transform: scale(1.05);
}