body {
    background-image: url('assets/images/bg4.webp');
    color:rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el body cubra toda la ventana */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 30px;
    width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
    max-width: 400px; /* Limita el tamaño máximo del formulario */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 20px; /* Añade márgenes para espacio en pantallas pequeñas */
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender, .role {
    margin-bottom: 15px;
}

.gender label, .role label {
    display: inline-block;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

.profile-pic {
    margin-bottom: 15px;
}

.profile-pic img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
    border-radius: 50%;
}

html, body {
    height: 100%; /* Asegura que siempre haya una altura de 100% */
    overflow-y: auto; /* Permite scroll si el contenido es más largo que la pantalla */
}
