<template id="header-template">
    <header class="main-header">
        <div class="logo">
            <img src="../assets\images/logo.webp" alt="Logo">
        </div>
        <nav class="nav-opciones">
            <ul>
                <li><a href="index.html">Página Principal</a></li>
                <li><a href="busqueda.html">Busqueda</a></li>
                <li><a href="dms.html">Mensajes</a></li>
                <li><a href="registro.html">Registrarse</a></li>
                <li><a href="inicio_sesion.html">Iniciar Sesión</a></li>
                <li><a href="crear_curso.html">Crear Curso</a></li>
                <li><a href="crear_nivel.html">Crear Categoria</a></li>
                <li><a href="gestion_admin.html">Gestión Administradores</a></li>
                <li><a href="gestion_usuario.html">Gestión Usuarios</a></li>
                <li><a href="gestion_instructor.html">Gestión Instructores</a></li>
                <li><a href="reportes.html">Reportes</a></li>
            </ul>
        </nav>
    </header>
</template>